.menu {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.root > ul {
  position: relative;
}

.menu {
  position: absolute;
  right: 20px;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}