aside {
  background-color: #D5F0FF;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5vw;
  letter-spacing: 0.05rem;
}

.title {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1vw;
  margin-left: 1.5rem;
}

.title img {
  width: 2rem;
}

.title p {
  font-weight: 700;
  color: #525252;
  font-size: 1.5rem;
}

/* From Uiverse.io by sahilxkhadka */
.card {
  height: 100vh;
  width: 13rem;
}

.card ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  font-weight: 600;
}

.card li > a {
  width: 100%;
}

.card button {
  display: flex;
  align-items: center;

  width: 100%;
  gap: 1vw;
  padding: 1vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  
  background-size: cover;
  background-color: transparent;

  font-size: 0.9vw;
  font-weight: 600;
  color: #4a5568;

  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

.card button.icon {
  width: 0.9vw;
  height: 0.9vw;
}

.card button:hover {
  background-color: #f8fdff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.card button:active {
  scale: 0.8;
  transition: all 0.3s ease-out;
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
  stroke: #000;
  fill: none;
}