.background {
  background-image: url('../assets/cloudBackground.png');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.background > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;

  height: inherit;

  background-image: linear-gradient(rgba(175, 224, 255, 0.726), white);
}

header {
  height: 3em;
  width: 100vw;

  position:absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > p {
  font-weight: 550;
  font-size: 1.3em;
}

.loginBox {
  background-image: linear-gradient(#bbf5fcb9 15%, #f4feff 30%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;

  height: 30em;
  width: 25em;
  border-radius: 30px;
}

.svgContainer {
  height: 4em;
  width: 4em;
  scale: 0.9;

  margin-top: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 20px;
}

.icon {
  width: 2em;
  height: 2em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  scale: 0.9;
}

.loginBox .title > p {
  font-weight: 510;
  font-size: 1.4em;
  text-align: center;
}

.loginBox .title > p + p {
  padding-top: 5px;
  width: 20em;
  font-weight: 300;
  font-size: 0.9em;
}

form {
  width: 19em;

  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  width: inherit;
}

.inputContainer > input {
  height: 3em;
  width: inherit;

  padding-left: 40px;

  background: url('../assets/EnvelopeIcon.svg') no-repeat left;
  background-size: 2em;
  background-position: 7px;

  background-color: #f4f9ff;
  border: 0.5px solid #cdcdcd;
}

.inputContainer + .inputContainer > input {
  background: url('../assets/LockIcon.svg') no-repeat left;
  background-size: 2em;
  background-position: 7px;

  background-color: #f4f9ff;
}

.inputContainer > input:focus {
  outline: none;
}

.loginBox p {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  width: inherit;
}

form button {
  background-color: black;
  color: white;
}
